<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('main.index')}}">CODEX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 375px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.lifestyle')}}">LIFESTYLE <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.business')}}">BUSINESS <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.entertainment')}}">ENTERTAINMENT <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.culture')}}">CULTURE<span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <!--Sing Up and Sing In-->
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('main.post')}}">NEW POST <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active"><a class="nav-link" href="{{url_for('auth.logout')}}">Sign Out</a></li>
          {% else %}
          &nbsp;
          <li class="nav-item active"><a class="nav-link" href="{{url_for('auth.login')}}">ADMIN</a></li>
          {%endif%}
        </ul>
      </div>
    </nav>

</body>
</html>