{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content%}
<div style="background-color: #deddd9;" >
 {% for post in view %}
    <div>
        <div class="card mb-3" style="width: 800px; margin-left: 17em;">
            <div class="card-header" style="background-color: #C4B088;">
                <span style="text-size: 50px; font-weight: 600; text-align: center;">{{post.header}}</span></br><br>
                 <h6 class="card-subtitle"><em>Category: {{post.category}}</em></h6>
            </div>
            <div class="card-body" style="background-color: #f4a460;">
                <div class="card-text">
                    <p>{{post.post}}</p>
                </div>
                <div class="card-text">
                    <span style="text-size: 10px;"><em>Posted on:{{post.time}}</em></span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container-fluid">
    <div>
        {% for comm in comment_is %}
        <div class="container-fluid card mb-2" style="width: 750px; background-color: #e4dcb3;">
            <div class="card-body" style="">
                <h5 class="card-header mb-1"style="width:700px; background-color: #C4B088; height: 50px;">By: {{comm.name}}</h5>
                <h6 class="card-header"style="width:700px; background-color: #D8A765;">Comment: {{comm.comment}}</h6>
                <div class="col-md-6 card-footer">
                    <p style="text-align: center;"><a href="/deletes/{{comment.id}}"><button class="btn btn-danger">Delete comment</button></a></p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="container-fluid" style="width: 500px; background-color: #aaaa7c;">
            {{ wtf.quick_form(comment) }}
            {{simplemde.load}}
        </div>
    </div>
</div>
</div>
{% endblock %}
